#chat-messages .fromID-4249648 .badge-box i,
#chat-messages  .id-4249648 .badge-box i {
    background-image: url(http://i.imgur.com/YYvfXPB.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;

}

#chat-messages .fromID-3424833 .badge-box i,
#chat-messages  .id-3424833 .badge-box i {
    background-image: url(https://cdn.radiant.dj/rcs/emotes/img/rosie.gif);
    background-size: cover;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    
}
